@media only screen and (max-width: 600px) {
    .landing{
        background: url('../../assets/mobile/image-hero.jpg') no-repeat top;
        background-size: 100%;
        width: 100%;
        height: 750px;
    }

    #mycanvas {
        border: 2px solid white;
        width: 82%;
        height: 220px;
        margin: 60% 8%;
        box-sizing: border-box;
        background: none;
    }

    .landing h1 {
        margin: 10%;
        width: 70%;
        padding: 2%;
        text-align: left;
        position: relative;
        top: -475px;
        color: white;
        font-size: 43px;
    }
}