@media only screen and (max-width: 600px) {
    .header {
        position: fixed;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        box-sizing: border-box;
        z-index: 1000;
        border: none;
        padding: 15px;
        background: transparent;
    }

    .logo {
        box-sizing: border-box;
        display: block;
        float: left;
        z-index: 1000;
        align-items: center;
    }

    .logo img {
        align-items: center;
        box-sizing: border-box;
        margin: 20px 10px;
        width: 70%;
        display: block;
    }

    .navBar {
        position: absolute;
        height: max-content;
        box-sizing: border-box;
        top: 0;
        left: -500%;
        width: 100%;
        background-color: black;
        z-index: 1000;
    }

    .activeNav {
        left: 0;
    }

    .navBar ul,
    li {
        list-style: none;
        width: fit-content;
    }

    .navBar ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .navItems {
        margin: 20px;
        font-family: josefin-sans;
        justify-content: center;
    }

    .navItems a {
        color: white;
    }

    .navItems a:hover {
        text-decoration-line: underline;
        text-decoration-style: solid 2px;
    }

    .closeNav {
        position: absolute;
        align-items: center;
        top: 2rem;
        right: 2rem;
    }

    .toggleNav {
        align-items: center;
        position: absolute;
        top: 2rem;
        right: 2rem;
    }




}