/*Color*/

:root {
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%); 
  --DarkGray: hsl(0, 0%, 55%); 
  --VeryDarkGray: hsl(0, 0%, 41%);
}

@font-face {
  font-family: josefin-sans;
  src: url(./assets/Josefin_Sans/JosefinSans-VariableFont_wght.ttf);
}

@font-face {
  font-family: alata;
  src: url(./assets/Alata/Alata-Regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: .3s ease;
}

h1,
h2,
h3,
button {
  font-family: josefin-sans;
  font-weight: 300;
}

p,
a {
  font-family: alata;
  font-weight: 400;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

ul,
li{
  list-style: none;
}

button a {
  box-sizing: border-box;
  padding: 5px 8px 5px 8px;
  background-color: white;
  border: 1px solid black;
  color: black;
}

button:hover a{
  background-color: black;
  color: white;
  border: 1px solid black;
}